* {
	padding: 0;
	margin: 0;
	border: 0;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

@import "base/variables";
@import "libs/fonts";

.wrapper {
	max-width: 1315px;
	margin: 0 auto;
}

.promo__wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

.slick-dots {
	padding-top: 20px;
}

body {
	font-family: "Stolzl";
	color: #212121;
	margin: 0 auto;
	background: linear-gradient(rgba(0, 0, 0, 0.15), transparent 1px),
		linear-gradient(90deg, rgba(0, 0, 0, 0.15), transparent 1px);
	background-color: #f5f2ec;
	background-size: 50px 50px;
	background-position: center center;
}

.button {
	width: 290px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 9px 10px 9px;
	background: #ffffff;
	border: 2px solid #252cde;
	box-shadow: 6px 6px #252cde;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	transition: transform 0.4s, box-shadow 0.4s;
	font-family: "Stolzl";
	text-transform: uppercase;
	line-height: 170%;
	font-weight: 500;
	font-size: 18px;
	color: $blue;
	&:hover {
		background: #252cde;
		box-shadow: 0px 0px #252cde;
		transform: translate(6px, 6px);
		color: #fff;
	}
}

.img-border {
	margin: 0 20px;
	border: 2px solid $black;
	box-shadow: 10px 10px $black;
	overflow: hidden;
	img {
		border: 20px solid #ffffff;
		box-sizing: border-box;
		width: 100%;
		height: auto;
		@media (max-width: 767px) {
			border: 12px solid #ffffff;
		}
	}
}

.hidden {
	display: none;
}

.arrow-button {
	transition-duration: 0.4s;
	width: 42px;
	height: 42px;
	background: #f5f2ec;
	border: 2px solid #212121;
	box-shadow: 4px 4px #212121;
	border-radius: 8px;
}

.form-link {
	font-family: "Stolzl";
	margin: 0 auto;
	max-width: 410px;
	padding: 45px 52px 45px 60px;
	background: #ffffff;
	border: 2px solid $black;
	box-shadow: 9px 9px $black;
	position: relative;
	&-text {
		max-width: 335px;
		margin: 0 auto;
		margin-bottom: 16px;
		font-weight: 300;
		font-size: 22px;
		line-height: 150%;
		text-align: center;
		color: $black;
	}
	&::after {
		content: "";
		background: url("../icons/shine.svg") no-repeat;
		position: absolute;
		right: -60px;
		top: -30px;
		width: 60px;
		height: 40px;
	}
	@media (max-width: 767px) {
		padding: 45px 35px 45px 40px;
		max-width: 280px;
		&-button {
			&::after {
				right: -100px;
				top: -150px;
			}
		}
		&-button {
			width: 90%;
		}
	}
	@media (max-width: 480px) {
		max-width: 230px;
		&-text {
			font-weight: 400;
			font-size: 15px;
		}
		&::after {
			display: none;
		}
	}
	@media (max-width: 340px) {
		max-width: 190px;
	}
}



@import "base/dropdown";
@import "blocks/promo";
@import "blocks/burger";
@import "blocks/about";
@import "blocks/lessons";
@import "blocks/why";
@import "blocks/advantages";
@import "blocks/entery";
@import "blocks/questions";
@import "blocks/feedback";
@import "blocks/ad";
@import "blocks/footer";
